<div class="w3-container theme-l4" style="height: 100%;">
  <div class="w3-container theme-d1">
    <h1 class="serif">Edit content of &ldquo;<%=@publication.citation %>&rdquo;</h1>
  </div>
  <div class="w3-container sans-serif">
    <%= render 'publicationForm' %>
  </div>
</div>
