<div class="w3-container w3-round-large theme-l5 w3-card-4">
  <p>*You can add basic html markup to your text for <strong><em>the asterisked field(s) only</em></strong> with the following conventions (Showdown flavor of Markdown)
    <ul>
  <li>Any line of text followed by one or more blank lines is a paragraph</li>
  <li>[some text](URL) renders "some text" as a hyperlink to the URL
    <ul><li><strong>Heads up</strong>: mailto:email@domain.com is the URL for emails</li></ul>
  </li>

  <li>*Some text* becomes <em>Some text</em></li>
  <li>**Some text** becomes <strong>Some text</strong></li>
  <li>**Some _really important_ text** becomes <strong>Some <em>really important</em> text</strong></li>
  <li>This should cover most of what you'd want to do; Google "showdown markdown" if you want to do something else</li>
  </ul>
  </p>
</div>
