<div class="w3-container theme-l4" style="height: 100%;">
  <div class="w3-container theme-d1">
    <h1 class="serif">Create new page</h1>
  </div>
  <div class="w3-container sans-serif">
    <%=render 'pageForm'%>
  </div>
</div>
