<h1>publication types</h1>
<% @publication_types.each do |type| %>
<p><%=type.kind%>, <%=type.rank%> <%=link_to 'Edit', edit_publication_type_path(type)%> | <%=link_to "Delete", type, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
